{% load static %}
<link rel="stylesheet" href="{% static 'home/css/aside.css' %}">
<aside>
    <ul id="aside_ui">
        <li class="aside_ul_li"><a href="#" class="aside_ul_li_a">link1</a></li>
        <li class="aside_ul_li"><a href="#" class="aside_ul_li_a">link2</a></li>
        <li class="aside_ul_li aside_ul_li_sub_ui">
            sub_menu1
            <ul class="aside_sub_ul">
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link2</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
            </ul>
        </li>
        <li class="aside_ul_li"><a href="" class="aside_ul_li_a">link1</a></li>
        <li class="aside_ul_li"><a href="" class="aside_ul_li_a">link1</a></li>
        <li class="aside_ul_li aside_ul_li_sub_ui">
            sub_menu2
            <ul class="aside_sub_ul">
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
            </ul>
        </li>
        <li class="aside_ul_li"><a href="" class="aside_ul_li_a">link1</a></li>
        <li class="aside_ul_li aside_ul_li_sub_ui">
            sub_menu3
            <ul class="aside_sub_ul">
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
            </ul>
        </li>
        <li class="aside_ul_li aside_ul_li_sub_ui">
            sub_menu4
            <ul class="aside_sub_ul">
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
                <li class="aside_sub_ul_li"><a href="" class="aside_sub_ul_li_a">sub_link1</a></li>
            </ul>
        </li>
    </ul>

</aside>

<script src="{% static 'home/js/aside.js' %}"></script> 
