{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="{% static 'home/css/reset_style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    {% block b_head %}
       
    {% endblock %}
</head>
<body>
    <div id="header">
      {% include 'home/header.html' %}
    </div>
    <div id="content">
        <div id="aside">
          {% include 'home/aside.html' %}
        </div>
        
        <div id="main">
            <main>
              {% block b_body %}
  
              {% endblock %}
            </main>
        </div>
        
    </div>
    
    <div id="footer">
        <footer>
          {% include 'home/footer.html' %}
        </footer>
    </div>
    <script src="{% static 'home/js/base.js' %}"></script> 
</body>
</html>