#header_input_search::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}


#header_logo_menu{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}


#header_nav{
    display: grid;
    grid-auto-flow: column;
    padding: 0;
}

#header_nav_ui{
    display: grid;
    grid-auto-flow: column;
    /* margin-left: 0; */
    padding:0;
}
#header_nav_ui li{
    list-style: none;
    /* margin-left: 0; */
}


#header_nav_ui a ,
#div_li_a{
    color: rgb(13, 4, 61);
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    white-space: nowrap;
}

/* #header_nav_ui a i, span{
    display: block;
} */



header{
    display: grid;
    grid-auto-flow: row;
    /* background-color: rgb(88, 34, 34); */
}
.header_icon_button{
    width: 30px;
    height: 30px;
}
.desktop_mobile{
    display: none;
    /* font-size: 0; */
}

#header_icon_div{
    display: none;
}

#header_logo{
    width: 280px;
  height: 60px;
    /* width: 90px;
    height: 50px; */
}
#header_icon_div{
    margin-top: 15px;
  margin-right: 15px;
    left: 0;
}

#header_search_form{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    /* margin-block: 10px; */
    display: none;
}


#header_input_search{
    width: 100%;
}
#header_but_search{
    width: 100%;
}

#header_search_form_result{
    display: none;
}



#header_search_form_result li{
    list-style: none;
    font-size: 20px;
}


@media screen and (max-width: 480px) {

    #header_nav{
        /* grid-template-columns: none; */
        grid-auto-flow: row;
        /* align-content: space-between; */
    }
    header{
        grid-auto-flow: row;
        /* align-content: space-between; */
    }
    #header_nav_ui{
        grid-auto-flow: row;
        display: none;
    }
    /* #header_nav_ui a{
        grid-auto-flow: row;
    } */
    .desktop_mobile{
        display: inline-block;
        /* font-size: 16; */
    }
    #header_icon_div{
        display: block;
    }
}



